{% extends 'coding/coding_base.html' %}

{% block content %}

    <div>
    <canvas class="col-sm-5" id="my-chart" width="400px" height="400px">
    </canvas>
    </div>
  <script>
        var ctx = document.getElementById("my-chart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels }},
                datasets: [{
                    label: 'Percent chance of winning',
                    data: {{ data }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(10, 142, 53, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(10, 153, 50, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Michigan Lottery Win Odds per Ticket Price'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true,
                            max: 100,
                            callback: function(value, index, values) {
                                return value + '%';
                            }

                        }
                    }],
                    xAxes: [{
                        ticks: {
                            callback: function(value, index, values) {
                                return '$' + value;
                            }

                        }
                    }]
                }
            }
        });
        </script>

{% endblock %}