{% extends 'coding/coding_base.html' %}

{% block content %}

    <script>
        $(document).ready(function () {
            $.ajaxSetup({
                headers: {"X-CSRFToken": '{{csrf_token}}'}
            });
            $("#solve_btn").click(function (e) {
                e.preventDefault();
                parseBoard();
                $.ajax({
                    url: '{% url "solve_sudoku" %}',
                    type: 'POST',
                    data: {
                        'nums': parseBoard(),
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    dataType: "JSON",
                    success: function (data) {
                        ajaxPopulateBoard(data.nums);
                        if (data['possible'] === true) {
                            let msg = '';
                            if (data['unique_puzzle'] !== true) {
                                msg = ' - Note: solution is not unique';
                            }
                            document.getElementById("sudoku_iters").innerText = data.iterations.toString() + ' iterations' + msg;
                        } else {
                            document.getElementById("sudoku_iters").innerText = 'Puzzle is not possible';
                        }

                    },
                    error: function (xhr, textStatus, err) {
                        console.log("readyState: " + xhr.readyState);
                        console.log("responseText: " + xhr.responseText);
                        console.log("status: " + xhr.status);
                        console.log("text status: " + textStatus);
                        console.log("error: " + err);
                    }
                });
            });
        });
    </script>
    <div class="sudoku-page" style="text-align: center;">
        <h1>Sudoku Solver</h1>
        <h4 id="sudoku_iters">--</h4>
        <table class="sudoku_table">
            {% for i in i|rjust:9 %}
                <tr>
                {% for i in i|rjust:9 %}
                    <td class="cell">
                        <input onkeydown="return entry(event, this)" type="number"
                               max="9" min="1" maxlength="1" class="cell_input">
                    </td>
                {% endfor %}
                </tr>
            {% endfor %}
        </table>

        <div class="solution_buttons">
            <form method="post">{% csrf_token %}
                <input type="button" value="Reset" onclick="clearBoard()">
                <input type="submit" id="solve_btn" value="Solve">
                <input type="hidden" name="nums" id="nums">
            </form>
        </div>
    </div>
{% endblock %}
